:root {
    --main-color: #8958ce;
    --secondary-color: #2b2b2b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

aside {
    width: 20vw;
    height: 100vh;
    background-color: var(--main-color);
}

@media(max-width: 768px) {
    aside {
        width: 35vw;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-color);
}

input {
    margin: 2px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.8rem;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 12px;
    width: 40px;
    height: 40px;
    border-bottom: 3px solid #FFFFFF;
}

.form {
    padding: .6rem 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#palavra {
    color: #FFFFFF;
    font-size: 2.5rem;
    font-family: monospace;
    text-align: center;
    margin-bottom: 1.5rem;
}